.box-filter {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.content-box {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: white;
}