html,
body,
div,
header,
main,
footer,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}