.navbar-container {
  color: white;
  height: 80px;
  width: 100%;
  background-color: #19376D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.box-logo img {
  height: 80px;
}

.box-user {
  display: flex;
  margin-bottom: -50px;
  align-items: center;
}

.box-user .username {
  text-transform: capitalize;
  margin-right: 30px;
  font-size: 12px;
}

.box-user a {
  font-size: 12px;
}

.box-buttons {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 20px;
  padding: 5px;
  margin: 0 ;
  text-transform: uppercase;
  width: 40px;
  margin: 10px;
}

a:hover {
  background-color: #576CBC;
}